body {
    background: #09b77c;
    /* height: 10; */
}

.container {
    width: 800px;
    margin: 30px auto;
    color: white;
    text-align: center;
}

button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: white;
    color: #09b77c;
    font-weight: 800;
}